
*.png

*.pth

*.pyc

*.csv

*.npy

local_results/cnn/cartpole/Reward/random/try/training_data/runs/2020-03-17_22-42-45_CNN_Reward/events.out.tfevents.1584499365.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random/try/training_data/runs/2020-03-17_22-43-36_CNN_Reward/events.out.tfevents.1584499416.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-17_23-23-19_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584501799.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random/try/cnn_params.yaml

local_results/cnn/cartpole/Reward/random/try/test_results/test_set/test_results.txt

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_16-20-54_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584649254.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_16-25-35_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584649535.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_16-26-13_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584649573.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_16-26-36_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584649596.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_17-36-14_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584653774.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_17-36-39_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584653799.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_17-37-00_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584653820.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_17-37-39_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584653859.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_17-39-09_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584653949.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_17-41-14_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584654074.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_19-17-08_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584659828.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_19-20-43_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584660043.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_19-25-40_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584660340.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-19_19-26-00_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1584660360.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_15-52-57_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585597977.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_15-55-12_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585598112.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-22-46_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585599766.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-26-05_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585599965.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-26-32_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585599992.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-48-44_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585601324.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-52-08_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585601528.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-52-37_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585601557.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-57-58_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585601878.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-30_16-59-39_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585601979.vincent-XPS-15-9570

local_results/rl/DTC_GT_Reward/training_data/runs/vis/2020-03-25_18-15-02_SAC_DTC_GT_Reward_Gaussian_autotune/events.out.tfevents.1585174502.vincent-XPS-15-9570

local_results/rl/DTC_GT_Reward/training_data/runs/vis/2020-03-25_18-16-20_SAC_DTC_GT_Reward_Gaussian_autotune/events.out.tfevents.1585174580.vincent-XPS-15-9570

local_results/rl/DTC_GT_Reward/training_data/runs/vis/2020-03-25_18-23-01_SAC_DTC_GT_Reward_Gaussian_autotune/events.out.tfevents.1585174981.vincent-XPS-15-9570

local_results/rl/DTC_GT_Reward/training_data/runs/vis/2020-03-25_18-23-45_SAC_DTC_GT_Reward_Gaussian_autotune/events.out.tfevents.1585175025.vincent-XPS-15-9570

local_results/rl/DTC_GT_Reward/training_data/runs/vis/2020-03-25_18-25-00_SAC_DTC_GT_Reward_Gaussian_autotune/events.out.tfevents.1585175100.vincent-XPS-15-9570

local_results/rl/DTC_GT_Reward/training_data/runs/vis/2020-03-25_18-26-07_SAC_DTC_GT_Reward_Gaussian_autotune/events.out.tfevents.1585175167.vincent-XPS-15-9570

local_results/rl/DT_GT_Reward/training_data/runs/vis/2020-03-30_17-08-21_SAC_DT_GT_Reward_Gaussian_autotune/events.out.tfevents.1585602501.vincent-XPS-15-9570

local_results/rl/DT_GT_Reward/training_data/runs/vis/2020-03-30_17-11-37_SAC_DT_GT_Reward_Gaussian_autotune/events.out.tfevents.1585602697.vincent-XPS-15-9570

local_results/rl/DT_Noisy_Reward_500/training_data/runs/vis/2020-03-30_17-12-59_SAC_DT_Noisy_Reward_500_Gaussian_autotune/events.out.tfevents.1585602779.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/training_data/runs/2020-04-07_23-08-29_CNN_Reward/events.out.tfevents.1586315309.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK/training_data/runs/2020-04-07_22-37-11_CNN_Reward/events.out.tfevents.1586313431.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK/training_data/runs/2020-04-07_22-38-19_CNN_Reward/events.out.tfevents.1586313499.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK/training_data/runs/2020-04-07_22-40-29_CNN_Reward/events.out.tfevents.1586313629.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random/try/training_data/runs/2020-04-06_19-10-51_CNN_Reward/events.out.tfevents.1586214651.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random/try2/cnn_params.yaml

local_results/cnn/cartpole/Reward/random/try2/training_data/runs/2020-04-06_19-11-12_CNN_Reward/events.out.tfevents.1586214672.vincent-XPS-15-9570

local_results/rl/CP_CNN_Reward_try/training_data/runs/vis/2020-03-30_22-17-43_SAC_CP_CNN_Reward_Gaussian_autotune/events.out.tfevents.1585621063.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_01-41-59_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585633319.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_04-10-49_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585642249.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_07-05-44_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585652744.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_09-31-54_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585661514.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_12-12-14_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585671134.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_14-30-47_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585679447.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_16-26-37_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585686397.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_18-17-30_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585693050.vincent-XPS-15-9570

local_results/rl/CP_GT_Reward/training_data/runs/vis/2020-03-31_20-07-16_SAC_CP_GT_Reward_Gaussian_autotune/events.out.tfevents.1585699636.vincent-XPS-15-9570

local_results/rl/DT_Noisy_Reward_500/training_data/runs/vis/2020-03-30_22-03-08_SAC_DT_Noisy_Reward_500_Gaussian_autotune/events.out.tfevents.1585620188.vincent-XPS-15-9570

local_results/rl/DT_Noisy_Reward_500/training_data/runs/vis/2020-03-30_22-03-46_SAC_DT_Noisy_Reward_500_Gaussian_autotune/events.out.tfevents.1585620226.vincent-XPS-15-9570

local_results/rl/DT_Noisy_Reward_500/training_data/runs/vis/2020-03-30_22-06-17_SAC_DT_Noisy_Reward_500_Gaussian_autotune/events.out.tfevents.1585620377.vincent-XPS-15-9570

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/cnn_params.yaml

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/test_results/incremental/test_results.txt

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/training_data/runs/2020-04-09_15-26-17_CNN_Reward/events.out.tfevents.1586460377.kepler2.server.mila.quebec

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-4/cnn_params.yaml

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-4/test_results/incremental/test_results.txt

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-4/training_data/runs/2020-04-09_15-26-17_CNN_Reward/events.out.tfevents.1586460377.kepler2.server.mila.quebec

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg_e-3/cnn_params.yaml

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg_e-3/test_results/incremental/test_results.txt

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg_e-3/training_data/runs/2020-04-09_15-26-17_CNN_Reward/events.out.tfevents.1586460377.kepler2.server.mila.quebec

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg_e-4/cnn_params.yaml

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg_e-4/test_results/incremental/test_results.txt

cluster_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg_e-4/training_data/runs/2020-04-10_14-57-02_CNN_Reward/events.out.tfevents.1586545022.leto15.server.mila.quebec

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/test_results/incremental/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-3/test_results/test_set/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_reg2/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_reg2/training_data/runs/2020-04-14_17-10-55_CNN_Reward/events.out.tfevents.1586898655.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_reg2/training_data/runs/2020-04-14_17-12-07_CNN_Reward/events.out.tfevents.1586898727.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_reg2/training_data/runs/2020-04-14_17-13-06_CNN_Reward/events.out.tfevents.1586898786.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_reg2/training_data/runs/2020-04-14_17-14-31_CNN_Reward/events.out.tfevents.1586898871.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_reg2/training_data/runs/2020-04-14_17-17-01_CNN_Reward/events.out.tfevents.1586899021.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-4/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-4/training_data/runs/2020-04-16_14-08-24_CNN_Reward/events.out.tfevents.1587060504.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_DK_e-4/training_data/test_during_training/test_results_step_51/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg3/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg3/training_data/runs/2020-04-16_13-25-29_CNN_Reward/events.out.tfevents.1587057929.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg3/training_data/runs/2020-04-16_13-26-29_CNN_Reward/events.out.tfevents.1587057989.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg3/training_data/runs/2020-04-16_14-02-42_CNN_Reward/events.out.tfevents.1587060162.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg3/training_data/test_during_training/test_results_step_51/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/runs/2020-04-16_14-13-57_CNN_Reward/events.out.tfevents.1587060837.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/runs/2020-04-16_14-31-28_CNN_Reward/events.out.tfevents.1587061888.vincent-XPS-15-9570

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/test_during_training/test_results_step_12551/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/test_during_training/test_results_step_18801/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/test_during_training/test_results_step_25051/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/test_during_training/test_results_step_51/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg4/training_data/test_during_training/test_results_step_6301/test_results.txt

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg5/cnn_params.yaml

local_results/cnn/cartpole/Reward/random_weird/CPWeird_Reg5/training_data/runs/2020-04-16_14-54-14_CNN_Reward/events.out.tfevents.1587063254.vincent-XPS-15-9570

weird_bug_gymduckietown

local_results/*

cluster_results/*
